NEXT_PUBLIC_SITE_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
DATABASE_URL=""
APPLE_CLIENT_ID=""
APPLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
