@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 4%;

    --primary: 360 55% 55%;
    --primary-foreground: 0 0% 97%;

    --secondary: 0 38% 73%;
    --secondary-foreground: 0 0% 6%;

    --muted: 0 0% 89%;
    --muted-foreground: 0 0% 43%;

    --accent: 263 55% 63%;
    --accent-foreground: 0 0% 6%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 83%;
    --input: 0 0% 83%;

    --ring: 240 5.9% 10%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 93%;

    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 359 66% 70%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 0 30% 31%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted: 0 0% 3%;
    --muted-foreground: 240 5% 64.9%;
    --muted-foreground: 0 0% 53%;

    --accent: 279 100% 72%;
    --accent-foreground: 0 0% 2%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 16%;
    --input: 0 0% 16%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-screen;
  }
  h1 {
    @apply font-mono font-bold text-4xl;
  }
  h2 {
    @apply font-mono font-semibold text-2xl;
  }
  h3 {
    @apply font-mono font-semibold text-xl;
  }
  p {
    @apply font-sans font-normal;
  }
}
